html {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: #0d1b2a;
  color: #e0e1dd;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline-block;
  margin-right: 5px;
}

.star {
  fill: gold;
  width: 20px;
  height: 20px;
}

.star:hover ~ .star {
  fill: gray;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.logo {
  height: 10vh;
  width: auto;
}

.logo img {
  height: 100%;
  width: auto;
}

header {
  background-color: #1b263b;
  color: #e0e1dd;
  padding: 10px 0;
}

.headline-section .container{
  width: 10%;
}

.headline-button{
  border: white 1px solid;
  border-radius: 1vh;
  padding: 1vh;
}

.headline-links a{
  color: #FFF;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  list-style-type: none;
  display: flex;
}

.nav-menu li {
  margin-right: 15px;
}

.nav-menu li:last-child a {
  background-color: #778da9;
  color: #e0e1dd;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-menu a {
  text-decoration: none;
  color: #e0e1dd;
}

#headline-section {
  border-top: #e0e1dd solid 2px;
  border-bottom: #e0e1dd solid 2px;
  text-align: center;
  background: url(https://imgs.search.brave.com/NBUtON6MWTKrKi_9Tn2eBppQrRgYgbfNqcC6nhdI_C4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9i/L2I4L1Zhbk1vb2Zf/Vi5qcGc) center/cover no-repeat;
  background-size: cover;
  color: #e0e1dd;
  padding: 30px 0;
}

#headline-section h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

#headline-section p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#headline-section #headline-links ul {
  list-style-type: none;
}

#headline-section #headline-links li {
  display: inline-block;
  margin-right: 10px;
}

#headline-section #headline-links li:last-child {
  background-color: #415a77;
  padding: 5px 10px;
  border-radius: 5px;
}

#headline-section #headline-links a {
  text-decoration: none;
  color: #333;
}

#subheading-section {
  text-align: center;
  background-color: #1b263b;
  padding: 50px 0;
}

#subheading h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

#cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  margin-bottom: 20px;
  background-color: #778da9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-container {
  padding: 20px;
}

.card-container h5 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.stars ul {
  list-style-type: none;
  padding: 0;
}

.stars li {
  display: inline-block;
  margin-right: 5px;
}

.stars svg {
  width: 20px;
  fill: #ffd700;
}

.card-container p {
  font-size: 1em;
  margin-bottom: 20px;
}

.card-container button {
  background-color: #415a77;
  color: #e0e1dd;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 2em;
}

.form-header h4{
  text-align: center;
  font-size: 4vh;
  padding: 0px;
  margin: 1vh;
}

.contact-form{
  height: fit-content + 5vh;
}

.styled-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-group {
  flex: 48%;
  margin-bottom: 15px;
}

.styled-input,
.styled-radio-buttons,
.styled-button {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

.styled-radio-buttons {
  display: flex;
  justify-content: space-between;
}

.radio-button {
  flex: 48%;
  display: flex;
  align-items: center;
}

.styled-button {
  background-color: #1b263b;
  color: #e0e1dd;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

footer {
  background-color: #1b263b;
  color: #e0e1dd;
  padding: 30px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  max-width: 150px;
}

footer p {
  margin-bottom: 10px;
}

#socials ul {
  list-style: none;
  padding: 0;
  display: flex;
}

#socials li {
  margin-right: 20px;
}

#footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-link a{
  text-decoration: none;
  color: #fff;
  padding-left: 2vh;
}

#footer-links li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  nav {
      flex-direction: column;
      text-align: center;
  }

  .nav-menu {
      margin-top: 10px;
  }

  .nav-menu li {
      margin: 0;
  }

  .nav-menu li:last-child {
      margin-top: 10px;
  }

  #headline-section {
      padding: 20px 0;
  }

  #headline-section h2 {
      font-size: 2em;
  }

  #headline-section p {
      font-size: 1em;
  }

  .card {
      width: 100%;
  }

  form {
      padding: 20px;
  }

  .input-group {
      flex: 100%; 
  }

  .radio-button {
      flex: 100%; 
  }
  
  .nav-menu {
      display: flex;
      justify-content: space-between;
  }
}
